/**/
body {
  /* transition: all 1s; */
  font-size: 15px;
  font-family: Verdana, sans-serif;
  margin: auto;
  /* background-image: url("/image/sakurajima2.jpg") !important; */
}

/* index.html_css */
.image {
  background-color: skyblue !important;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.wrapper{
  padding: 20px; 
 }
 .square{
  text-align: center;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: #E3E6E9;
  border: 1px dotted #000;
   cursor: pointer;
 }

/* quiz.html_css */
li {
  list-style: none;
}