/**/
body {
  transition: all 1s;
  font-size: 15px;
  font-family: Verdana, sans-serif;
}

/* top.html_css */
.bodyfadeout {
  opacity: 0;
}

#start {
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  height: 70px;
  background-color: coral;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

/* index.html_css */
li {
  list-style: none;
}